@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #febb2a; /* Laranja */
    color: white;
    padding: 10px 0;
    height: 60px;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #696868;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


li a {
    text-decoration:none;
    color: rgb(255, 255, 255);
}

li a:visited {
    color: rgb(255, 255, 255);
}

li a:active {
    color: rgb(255, 255, 255);
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin-bottom: 4px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #febb2a;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}


body {
    background-image: url(assets/v642-nap-37-fastfood.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
}


.container {
    background: #FFFFFD;
    display: flex;
    margin-top: 40px;
}


.box {
    box-sizing: border-box;
    padding: 1rem;
    margin: 1rem;
    background-color: #febb2a;
    width: calc((100% / 2) - 2rem);
    border-radius: 8px;
}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(96, 96, 96);
}

#name {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: 0;
    border-radius: 5px;
}

#value {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline: 0;
    margin-top: 10px;
    border-radius: 5px;
}

.inpt {
    width: 20px;
    height: 400PX;
}

.inp{
    background:#FFFFFF;
    color:#FFB20C;
    border:none;
    position:relative;
    height:40px;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.inp:hover{
    background:#fff;
    color:#FF930D;
}
.inp:before,button:after{
    content:'';
    position:absolute;   
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #FF930D;
    transition:400ms ease all;
}
.inp:after{
    right:inherit;
    top:inherit;
    left:0;    
    bottom:0;
}
.inp:hover:before,.inp:hover:after{
    width:100%;
    transition:800ms ease all;
}

select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#text_area {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 0;
    resize: none;
    margin-top: 10px;
}

.tab {
    height: 600px;
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
}

#payment {
    margin-top: 10px;
}

#img {display: none;}


.drink ul li {
    font-size: 10px;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
  
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    max-width: 90%;
    height: 450px;
    max-height: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
  
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
  
.modal-body p {
    margin-bottom: 1rem;
}
  
#modal.hide,
  #fade.hide {
    opacity: 0;
    pointer-events: none;
}
  
#modal.hide {
    top: 0;
}

.close {
    width: 150px;
    height: 40px;
    background-color: white;
    color: #febb2a;
    border-radius: 0.5em;
    font-size: 15px;
    border: 1px solid;
    margin-left: 1000px;
    margin-top: 20px;
}

#text-modal {
    width: 100%;
    height: 600px;

}

#resultsTable, #resultsTable th, #resultsTable td {
    border-collapse: collapse; /*define a separação entre as bordar*/
    width: 90%;
    border: 1px solid black;
    margin: auto;
    table-layout: fixed;
    margin-top: 30px;
    text-align: center;
}

.btnDownload {
    background-color: #febb2a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.btnDownload:hover {
    background-color: #e5a819;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}